In [1]:
import numpy as np 
# data processing
import pandas as pd 

# data visualization
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style

# Algorithms
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

from sklearn.feature_selection import SelectKBest, chi2, f_regression

In [3]:
#test_df = pd.read_csv("LTFS Data/test.csv")
train_df = pd.read_csv("train.csv")

In [5]:
train_df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [4]:
train_df.describe()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,State_ID,Employee_code_ID,...,SEC.OVERDUE.ACCTS,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default
count,233154.000000,233154.000000,2.331540e+05,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,233154.000000,...,233154.000000,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,2.331540e+05,233154.000000,233154.000000,233154.000000,233154.000000
mean,535917.573376,54356.993528,7.586507e+04,74.746530,72.936094,19638.635035,69.028054,3396.880247,7.262243,1549.477148,...,0.007244,5.427793e+03,7.295923e+03,7.179998e+03,1.310548e+04,3.232684e+02,0.381833,0.097481,0.206615,0.217071
std,68315.693711,12971.314171,1.894478e+04,11.456636,69.834995,3491.949566,22.141304,2238.147502,4.482230,975.261278,...,0.111079,1.702370e+05,1.831560e+05,1.825925e+05,1.513679e+05,1.555369e+04,0.955107,0.384439,0.706498,0.412252
min,417428.000000,13320.000000,3.700000e+04,10.030000,1.000000,10524.000000,45.000000,1.000000,1.000000,1.000000,...,0.000000,-5.746470e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
25%,476786.250000,47145.000000,6.571700e+04,68.880000,14.000000,16535.000000,48.000000,1511.000000,4.000000,713.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
50%,535978.500000,53803.000000,7.094600e+04,76.800000,61.000000,20333.000000,86.000000,2970.000000,6.000000,1451.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000
75%,595039.750000,60413.000000,7.920175e+04,83.670000,130.000000,23000.000000,86.000000,5677.000000,10.000000,2362.000000,...,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.999000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000
max,671084.000000,990572.000000,1.628992e+06,95.000000,261.000000,24803.000000,156.000000,7345.000000,22.000000,3795.000000,...,8.000000,3.603285e+07,3.000000e+07,3.000000e+07,2.564281e+07,4.170901e+06,35.000000,20.000000,36.000000,1.000000

In [5]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233154 entries, 0 to 233153
Data columns (total 41 columns):
UniqueID                               233154 non-null int64
disbursed_amount                       233154 non-null int64
asset_cost                             233154 non-null int64
ltv                                    233154 non-null float64
branch_id                              233154 non-null int64
supplier_id                            233154 non-null int64
manufacturer_id                        233154 non-null int64
Current_pincode_ID                     233154 non-null int64
Date.of.Birth                          233154 non-null object
Employment.Type                        225493 non-null object
DisbursalDate                          233154 non-null object
State_ID                               233154 non-null int64
Employee_code_ID                       233154 non-null int64
MobileNo_Avl_Flag                      233154 non-null int64
Aadhar_flag                            233154 non-null int64
PAN_flag                               233154 non-null int64
VoterID_flag                           233154 non-null int64
Driving_flag                           233154 non-null int64
Passport_flag                          233154 non-null int64
PERFORM_CNS.SCORE                      233154 non-null int64
PERFORM_CNS.SCORE.DESCRIPTION          233154 non-null object
PRI.NO.OF.ACCTS                        233154 non-null int64
PRI.ACTIVE.ACCTS                       233154 non-null int64
PRI.OVERDUE.ACCTS                      233154 non-null int64
PRI.CURRENT.BALANCE                    233154 non-null int64
PRI.SANCTIONED.AMOUNT                  233154 non-null int64
PRI.DISBURSED.AMOUNT                   233154 non-null int64
SEC.NO.OF.ACCTS                        233154 non-null int64
SEC.ACTIVE.ACCTS                       233154 non-null int64
SEC.OVERDUE.ACCTS                      233154 non-null int64
SEC.CURRENT.BALANCE                    233154 non-null int64
SEC.SANCTIONED.AMOUNT                  233154 non-null int64
SEC.DISBURSED.AMOUNT                   233154 non-null int64
PRIMARY.INSTAL.AMT                     233154 non-null int64
SEC.INSTAL.AMT                         233154 non-null int64
NEW.ACCTS.IN.LAST.SIX.MONTHS           233154 non-null int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS    233154 non-null int64
AVERAGE.ACCT.AGE                       233154 non-null object
CREDIT.HISTORY.LENGTH                  233154 non-null object
NO.OF_INQUIRIES                        233154 non-null int64
loan_default                           233154 non-null int64
dtypes: float64(1), int64(34), object(6)
memory usage: 72.9+ MB

In [6]:
train_df.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
supplier_id                               0
manufacturer_id                           0
Current_pincode_ID                        0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
Employee_code_ID                          0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
SEC.NO.OF.ACCTS                           0
SEC.ACTIVE.ACCTS                          0
SEC.OVERDUE.ACCTS                         0
SEC.CURRENT.BALANCE                       0
SEC.SANCTIONED.AMOUNT                     0
SEC.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
SEC.INSTAL.AMT                            0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

In [7]:
train_df.columns

Index(['UniqueID', 'disbursed_amount', 'asset_cost', 'ltv', 'branch_id',
       'supplier_id', 'manufacturer_id', 'Current_pincode_ID', 'Date.of.Birth',
       'Employment.Type', 'DisbursalDate', 'State_ID', 'Employee_code_ID',
       'MobileNo_Avl_Flag', 'Aadhar_flag', 'PAN_flag', 'VoterID_flag',
       'Driving_flag', 'Passport_flag', 'PERFORM_CNS.SCORE',
       'PERFORM_CNS.SCORE.DESCRIPTION', 'PRI.NO.OF.ACCTS', 'PRI.ACTIVE.ACCTS',
       'PRI.OVERDUE.ACCTS', 'PRI.CURRENT.BALANCE', 'PRI.SANCTIONED.AMOUNT',
       'PRI.DISBURSED.AMOUNT', 'SEC.NO.OF.ACCTS', 'SEC.ACTIVE.ACCTS',
       'SEC.OVERDUE.ACCTS', 'SEC.CURRENT.BALANCE', 'SEC.SANCTIONED.AMOUNT',
       'SEC.DISBURSED.AMOUNT', 'PRIMARY.INSTAL.AMT', 'SEC.INSTAL.AMT',
       'NEW.ACCTS.IN.LAST.SIX.MONTHS', 'DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS',
       'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH', 'NO.OF_INQUIRIES',
       'loan_default'],
      dtype='object')

In [13]:
X_clf=train_df.iloc[:,1:40] # features
X_clf.head()
y_clf=train_df.iloc[:,40] # Target variable
y_clf.head()

0    0
1    1
2    0
3    1
4    1
Name: loan_default, dtype: int64

In [ ]:
a='3yrs 11mon'
a=a.replace('yrs', ',').replace('mon', '')
b=a.split(', ')
TtotalMonths=int(b[0])*12+int(b[1])
print(TtotalMonths)

0          0yrs 0mon
1         1yrs 11mon
2          0yrs 0mon
3          0yrs 8mon
4          0yrs 0mon
5          1yrs 9mon
6          0yrs 0mon
7          0yrs 2mon
8          4yrs 8mon
9          1yrs 7mon
10         0yrs 7mon
11         2yrs 1mon
12         1yrs 3mon
13         1yrs 0mon
14        3yrs 11mon
15         0yrs 1mon
16         2yrs 6mon
17        1yrs 10mon
18         1yrs 9mon
19        0yrs 11mon
20         0yrs 6mon
21         2yrs 9mon
22         0yrs 0mon
23         1yrs 3mon
24         0yrs 0mon
25         0yrs 0mon
26         0yrs 0mon
27         0yrs 0mon
28         3yrs 1mon
29         2yrs 0mon
             ...
233124     0yrs 0mon
233125     2yrs 3mon
233126     0yrs 0mon
233127     1yrs 1mon
233128     0yrs 2mon
233129     2yrs 1mon
233130     4yrs 1mon
233131     0yrs 5mon
233132    0yrs 11mon
233133    6yrs 10mon
233134     0yrs 0mon
233135     0yrs 0mon
233136     4yrs 6mon
233137     1yrs 3mon
233138     0yrs 0mon
233139    0yrs 10mon
233140     3yrs 0mon
233141     0yrs 6mon
233142     0yrs 5mon
233143     1yrs 7mon
233144     0yrs 0mon
233145     0yrs 9mon
233146     0yrs 3mon
233147     0yrs 9mon
233148     0yrs 0mon
233149     1yrs 9mon
233150     0yrs 6mon
233151     0yrs 0mon
233152     0yrs 0mon
233153     0yrs 0mon
Name: AVERAGE.ACCT.AGE, Length: 233154, dtype: object

In [26]:
def HandleDurationField(a):
    a=a.replace('yrs', ',').replace('mon', '')
    b=a.split(', ')
    TtotalMonths=int(b[0])*12+int(b[1])
    return TtotalMonths

In [27]:
X_clf.apply(lambda x: HandleDurationField(x['AVERAGE.ACCT.AGE']), axis=1)

0          0
1         23
2          0
3          8
4          0
5         21
6          0
7          2
8         56
9         19
10         7
11        25
12        15
13        12
14        47
15         1
16        30
17        22
18        21
19        11
20         6
21        33
22         0
23        15
24         0
25         0
26         0
27         0
28        37
29        24
          ..
233124     0
233125    27
233126     0
233127    13
233128     2
233129    25
233130    49
233131     5
233132    11
233133    82
233134     0
233135     0
233136    54
233137    15
233138     0
233139    10
233140    36
233141     6
233142     5
233143    19
233144     0
233145     9
233146     3
233147     9
233148     0
233149    21
233150     6
233151     0
233152     0
233153     0
Length: 233154, dtype: int64

In [31]:
X_clf['CREDIT.HISTORY.LENGTH']=X_clf.apply(lambda x: HandleDurationField(x['CREDIT.HISTORY.LENGTH']), axis=1)
X_clf['AVERAGE.ACCT.AGE']=X_clf.apply(lambda x: HandleDurationField(x['AVERAGE.ACCT.AGE']), axis=1)

In [32]:
X_clf.head()

,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,DisbursalDate,...,SEC.CURRENT.BALANCE,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES
0,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,03-08-18,...,0,0,0,0,0,0,0,0,0,0
1,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,26-09-18,...,0,0,0,1991,0,0,1,23,23,0
2,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,01-08-18,...,0,0,0,0,0,0,0,0,0,0
3,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,26-10-18,...,0,0,0,31,0,0,0,8,15,1
4,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,26-09-18,...,0,0,0,0,0,0,0,0,0,1

In [34]:
X_clf['PERFORM_CNS.SCORE.DESCRIPTION'].unique()

array(['No Bureau History Available', 'I-Medium Risk', 'L-Very High Risk',
       'A-Very Low Risk',
       'Not Scored: Not Enough Info available on the customer',
       'D-Very Low Risk', 'M-Very High Risk', 'B-Very Low Risk',
       'C-Very Low Risk', 'E-Low Risk', 'H-Medium Risk', 'F-Low Risk',
       'K-High Risk',
       'Not Scored: No Activity seen on the customer (Inactive)',
       'Not Scored: Sufficient History Not Available',
       'Not Scored: No Updates available in last 36 months', 'G-Low Risk',
       'J-High Risk', 'Not Scored: Only a Guarantor',
       'Not Scored: More than 50 active Accounts found'], dtype=object)

In [59]:
def GetAge(a):    
    b=a.split('/')
    c=a.split('-')
    if len(b) == 3:
        return int(2018)-int(b[2])
    else:
        return int(2018)-int(c[2])

3

IndexError: list index out of range

In [60]:
X_clf['Date.of.Birth']=X_clf.apply(lambda x: GetAge(x['Date.of.Birth']), axis=1)

In [61]:
X_clf['Date.of.Birth']

0         1934
1         1933
2         1933
3         1925
4         1941
5         1928
6         1930
7         1929
8         1927
9         1950
10        1939
11        1934
12        1944
13        1934
14        1945
15        1924
16        1942
17        1935
18        1930
19        1938
20        1940
21        1934
22        1924
23        1939
24        1929
25        1932
26        1950
27        1942
28        1946
29        1949
          ...
233124    1934
233125    1930
233126    1944
233127    1942
233128    1949
233129    1938
233130    1954
233131    1924
233132    1926
233133    1938
233134    1937
233135    1922
233136    1946
233137    1945
233138    1935
233139    1937
233140    1929
233141    1922
233142    1924
233143    1951
233144    1955
233145    1933
233146    1936
233147    1929
233148    1925
233149    1930
233150    1930
233151    1942
233152    1924
233153    1934
Name: Date.of.Birth, Length: 233154, dtype: int64

In [62]:
X_clf_new=SelectKBest(score_func=chi2,k=2).fit_transform(X_clf,y_clf)

ValueError: could not convert string to float: 'No Bureau History Available'